<!DOCTYPE html>
<html>
  <head>
    <title>@</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../polyfills/browser-polyfill.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="field">
        <label for="notification-server-url">Notification server url</label>
        <input type="text" class="text" id="notification-server-url">
      </div>
      <div class="field">
        <label for="notification-mapper-scheme">Display scheme</label>
        <textarea class="text" id="notification-mapper-scheme"></textarea>
      </div>
      <div class="field">
        <div class="half">
          <div class="response"></div>
        </div>
        <div class="half">
          <button class="save-options">Save options</button>
        </div>
      </div>
    </div>
  </body>
</html>
