<!DOCTYPE html>
<html>

<head>
  <title>@</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../polyfills/browser-polyfill.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="title"><span>States:</span></div>
      <div class="options">
        <div role="button" title="Menu" class="open-options jfk-button-flat">
          <div class="img-settings button-right"></div>
        </div>
        <div class="menu-options">
          <ul>
            <li class="open-settings">Open settings</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="detail-container">
      <div id="generated-content"></div>
    </div>
  </div>
</body>

</html>